button{
    border-radius: 5px;
    z-index: 1;
    background-color: cadetblue;
    font-size: 25px;
    position: relative;
    text-decoration: none;
    text-align: center;
    
    padding: auto;
}

button:hover {
    background-color: red;
}